#https://stackoverflow.com/a/68213855
name: Send submodule updates to parent repo

on:
  push:
    branches: 
      - main

jobs:
  update:
    runs-on: ubuntu-latest
    if: github.repository == 'alandtse/skyrim_vr_address_library'

    steps:
      - uses: actions/checkout@v2
        with: 
          repository: alandtse/vr_address_tools
          token: ${{ secrets.PRIVATE_TOKEN_GITHUB }}

      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote
      - name: Commit
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions - update submodules"
          git add --all
          git commit -m "build: update submodules" || echo "No changes to commit"
          git push
